:host {
  background-color: rgb(45, 45, 45);
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: black;
}
